<form action="/user-profile/edit" method="POST" enctype="multipart/form-data">
  <label>
    Username
    <input type="text" name="username" placeholder="ironhacker" />
  </label>

  <label>
    Image
    <input type="file" name="imgUrl" />
  </label>

  <button type="submit">Save changes</button>
</form>